{% extends "CalcCalcBundle:Show:base.html.twig" %}

{% block title %}Калькулятор стоимости{% endblock %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/calccalc/css/admin.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/calccalc/css/select2.min.css') }}">
{% endblock %}

{%  block scripts %}
    <script type="application/javascript" src="{{ asset('bundles/calccalc/js/select2.full.min.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/calccalc/js/math.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/calccalc/js/admin.options.js') }}"></script>
{% endblock %}
{% block header %}Панель администрирования{% endblock %}

{% block content %}
    <nav>
        <ul>
            <li><a href="/calc">Рассчет</a></li>
            <li><a href="/calc/admin/elements">Редактирование элементов</a></li>
            <li><a href="/calc/admin/configurations">Редактирование конфигураций</a></li>
        </ul>
    </nav>
    <form class="options" method="POST" action="/calc/admin/references">
        <div class="header">
            <span>Название</span>
            <span>Формула расчета количества</span>
            <span>Единица измерения</span>
            <span>Формула расчета стоимости</span>
            <span>Стоимость(сух.)</span>
            <span>Стоимость(влаж.)</span>
            <span>Валюта</span>
        </div>

        <div class="list"></div>
        <button class="button add">+</button>

        <button class="button submit">Сохранить</button>
    </form>
{%  endblock %}