{% extends "CalcCalcBundle:Show:base.html.twig" %}

{% block title %}Калькулятор стоимости{% endblock %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/calccalc/css/calc.css') }}">
{% endblock %}

{%  block scripts %}
    <script type="application/javascript" src="{{ asset('bundles/calccalc/js/select2.full.min.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/calccalc/js/grid.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/calccalc/js/math.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/calccalc/js/calc.js') }}"></script>
{% endblock %}
{% block header %}Калькулятор стоимости{% endblock %}

{% block content %}
    <form name="calc" method="post" enctype="application/x-www-form-urlencoded" action="javascript:submit(this)">
    {% block editor %}
        <fieldset id="config">
            <input type="checkbox" id="config-collapse" class="collapse" disabled checked>
            <legend><label for="config-collapse">Этажность</label></legend>
            <div class="block">
                <fieldset>
                    {% block floors_count %}
                        <input type="checkbox" id="floors-collapse" class="collapse" disabled checked>
                        <legend><label for="floors-collapse">Этажность</label></legend>
                        <div class="block">
                            <input type="radio" name="floors" value=1 id="floors-1" checked><label for="floors-1">Один</label>
                            <input type="radio" name="floors" value=1.5 id="floors-1-5"><label for="floors-1-5">Полтора</label>
                            <input type="radio" name="floors" value=2 id="floors-2"><label for="floors-2">Два</label>
                        </div>
                    {% endblock %}
                </fieldset>
                {% block dimensions %}
                    <fieldset id="dimensions-floor1">
                        <input type="checkbox" id="dimensions-floor1-collapse" class="collapse" disabled checked>
                        <legend><label for="dimensions-floor1-collapse">Габариты 1 этаж</label></legend>
                        <div class="block">
                            <label for="dimensions-floor1-length">Длина</label><input type="number" name="length" value=0 id="dimensions-floor1-length">м
                            <label for="dimensions-floor1-width">Ширина</label><input type="number" name="width" value=0 id="dimensions-floor1-width">м
                            <label for="dimensions-floor1-height">Высота помещений</label><input type="number" name="height" value=0 step=0.1 id="dimensions-floor1-height">м
                            <hr>
                            <label for="dimensions-floor1-area">Площадь</label><input type="number" name="area" value=0 step=0.1 id="dimensions-floor1-area" disabled>м<sup>2</sup>
                            <label for="dimensions-floor1-area-wet">Площадь влажных</label><input type="number" name="area-wet" value=0 step=0.1 id="dimensions-floor1-area-wet" disabled>м<sup>2</sup>
                            <label for="dimensions-floor1-external-r">Р внешний</label><input type="number" name="external-r" value=0 step=0.1 id="dimensions-floor1-external-r" disabled>м
                            <label for="dimensions-floor1-internal-r">Р внутренний</label><input type="number" name="internal-r" value=0 step=0.1 id="dimensions-floor1-internal-r" disabled>м
                            <label for="dimensions-floor1-wet-r">Р внешний</label><input type="number" name="wet-r" value=0 step=0.1 id="dimensions-floor1-wet-r" disabled>м
                        </div>
                    </fieldset>
                    <fieldset id="dimensions-floor2" style="display: none">
                        <input type="checkbox" id="dimensions-floor2-collapse" class="collapse" disabled checked>
                        <legend><label for="dimensions-floor2-collapse">Габариты 2 этаж</label></legend>
                        <div class="block">
                            <label for="dimensions-floor2-length">Длина</label><input type="number" name="length" value=0 id="dimensions-floor2-length">м
                            <label for="dimensions-floor2-width">Ширина</label><input type="number" name="width" value=0 id="dimensions-floor2-width">м
                            <label for="dimensions-floor2-height">Высота помещений</label><input type="number" name="height" value=0 step=0.1 id="dimensions-floor2-height">м
                            <hr>
                            <label for="dimensions-floor2-area">Площадь</label><input type="number" name="area" value=0 step=0.1 id="dimensions-floor2-area" disabled>м<sup>2</sup>
                            <label for="dimensions-floor2-area-wet">Площадь влажных</label><input type="number" name="area-wet" value=0 step=0.1 id="dimensions-floor2-area-wet" disabled>м<sup>2</sup>
                            <label for="dimensions-floor2-external-r">Р внешний</label><input type="number" name="external-r" value=0 step=0.1 id="dimensions-floor2-external-r" disabled>м
                            <label for="dimensions-floor2-internal-r">Р внутренний</label><input type="number" name="internal-r" value=0 step=0.1 id="dimensions-floor2-internal-r" disabled>м
                            <label for="dimensions-floor2-wet-r">Р внешний</label><input type="number" name="wet-r" value=0 step=0.1 id="dimensions-floor2-wet-r" disabled>м
                        </div>
                    </fieldset>
                {% endblock %}
            </div>
        </fieldset>

        <fieldset id="parameters">
            <input type="checkbox" id="config-collapse" class="collapse" disabled checked>
            <legend><label for="config-collapse">Конфигурация</label></legend>
            <div class="block"></div>
        </fieldset>

        <button type="submit">Расчитать</button>
        {% endblock %}
    </form>
{% endblock %}